{
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "external-helpers"
  ],
  "presets": [
    "es2015",
    "stage-0"
  ]
}
