@svg-load icon-notification-unread url(notifications_active_black_24px.svg) {
  fill: #fff;
}
@svg-load icon-notification-empty url(notifications_none_black_24px.svg) {
  fill: #fff;
}
@svg-load icon-notification-disabled url(notifications_off_black_24px.svg) {
  fill: #fff;
}
@svg-load icon-menu url(menu_black.svg) {
  fill: #fff;
}
@svg-load icon-back url(arrow_back_black_24px.svg) {
  fill: #fff;
}


%svg-icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: block;

  &:before {
    content: '';
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    position: absolute;
  }


}

.icon-notification {
  &--disabled {
    @extend %svg-icon;

    &:before {
      background: svg-inline(icon-notification-disabled);
      opacity: 0.87;
    }
  }
  &--unread {
    @extend %svg-icon;

    &:before {
      background: svg-inline(icon-notification-unread);
      opacity: 0.87;
    }
  }
  &--empty {
    @extend %svg-icon;

    &:before {
      background: svg-inline(icon-notification-empty);
      opacity: 0.87;
    }
  }
}

.icon-menu {
  @extend %svg-icon;
  &:before {
    background: svg-inline(icon-menu);
    opacity: 0.87;
  }
}

.icon-back {
  @extend %svg-icon;
  &:before {
    background: svg-inline(icon-back);
    opacity: 0.87;
  }
}
