%svg-icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: block;

  &:before {
    content: '';
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    position: absolute;
  }
}
