md-toolbar.md-hue-2
  .md-toolbar-tools
    md-button.md-icon-button(ng-click='$ctrl.toggleMenu()')
      i.icon-menu
    h2
      span Toolbar
    span(flex='')
    md-button.md-icon-button
        i.icon-notification--empty(ng-if="$ctrl.isNotificationEmpty")
        i.icon-notification--unread(ng-if="$ctrl.isNotificationUnread")
        i.icon-notification--disabled(ng-if="$ctrl.isNotificationDisabled")
main-menu

