md-sidenav.md-sidenav-left(md-component-id='menu-left', md-disable-backdrop='', md-whiteframe='4')
  md-toolbar.md-hue-2
    .md-toolbar-tools
      md-button.md-icon-button(ng-click='$ctrl.toggleMenu()')
        i(class="{{::$ctrl.styles.iconBack}}", )
      h1 Menu toolbar
  md-content(layout-margin='')
