@svg-load icon-notification-unread--white url(toolbar/common/notifications_active_black_24px.svg) {
  fill: #fff;
}
@svg-load icon-notification-empty--white url(toolbar/common/notifications_none_black_24px.svg) {
  fill: #fff;
}
@svg-load icon-notification-disabled--white url(toolbar/toolbar/notifications_off_black_24px.svg) {
  fill: #fff;
}
@svg-load icon-menu--white url(toolbar/toolbar/menu_black.svg) {
  fill: #fff;
}
@svg-load icon-back--white url(toolbar/common/arrow_back_black_24px.svg) {
  fill: #fff;
}

